.form {
    text-align: left;
    padding: 15px;
}

.full-width {
    width: 100%;
}

#editMapContain {
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

#editMap {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.editMapButtonContain {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 999;
}

.editMapButton {
    background-color: #273848;
    border: 6px double #cd8e2f;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    cursor: pointer;
    border-bottom-left-radius: 15px;
    text-align: center;
    letter-spacing: 1px;
}

.editMapButton:hover {
    background-color: #425c75;
    color: #d4d3ce;
}

#mapNotification {
    z-index: 9991;
    position: absolute;
    top: 0px;
    left: 25%;
    right: 10%;
    border-bottom-left-radius: 25px;
    border: 3px solid #cd8e2f;
    border-top: 0px;
    background-color: #273848;
    text-align: center;
    padding: 5px;
    display: none;
}


#editData {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100vh;
    overflow-y: auto;
}

#editFormMap {
    margin: auto;
    width: 75%;
    height: 75%;
    margin-top: 25px;
    border: 6px double #cd8e2f;
    border-radius: 0px;
    border-bottom-left-radius: 25px;
    background-color: #273848;
}

#editCard {
    border: 6px double #cd8e2f;
    border-radius: 0px;
    border-bottom-left-radius: 25px;
    padding-bottom: 15px;
    background-color: #273848;
}

hr {
    border-color: #d4d2ce;
    margin-left: -20px;
    margin-right: 30px;
}

.center {
    margin: auto;
}


.card-header {
    border-bottom: 2px solid #cd8e2f;
}

.card-body {
    background: #d4d3ce;
}

.card-body hr {
    border-color: #303030;
}
